body{
  font-family: segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}
header,footer{
  background-color: darksalmon;
  color: aqua;
  padding: 1em;
  text-align: center;
}
nav ul{
  list-style: none;
  padding: 0;
}
nav ul li{
  display: inline;
  margin: 0 1em;
}
nav ul li a{
  color: #fff;
  text-decoration:none;
}
.busqueda{
  text-align: center;
  margin-bottom: 1em;
}
#buscador{
  width: 60%;
  padding: 0.sem;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius:5px;
}
main{
  padding:1em;
}
productos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.producto{
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #rgba(0, 0, 0, 0.1);
  margin: 1em;
  padding: 1em;
  text-align: center;
  width: 220px;
  transition: transform 0.2s;
}
.producto:hover{
  transform: scale(1.05);
}
.producto img{
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.descricion{
  font-size: 0.9em;
  color: #555;
}
.precio{
  font-weight: bold;
  color: lightpink;
  margin:0.5em 0;
}
.rating{
  color: antiquewhite;
  margin-buttom: 0.5em;
}
button{
  background-color: #ffd814;
  border: none;
  padding: 0.5em 1em;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
}
button-horver{
  background-color: powderblue;
}
section{
  padding: 20px;
}
article{
  background-color: rosybrown;
  padding: 15px;
  margin: 10px auto;
  width: 80%;
  border-radius: 5px;
  box-shadow: 2px 2px 10px #2ad4ac (0,0);
}
footer{
  background-color: navajowhite;
  color: rosybrown;
  padding: 10px 0;
  margin-top: 20px;
}
